@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: theme("colors.primary");
	--color-secondary: theme("colors.secondary");
	--color-accent: theme("colors.accent");
	--color-neutral: theme("colors.neutral");
	--color-info: theme("colors.info");
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.videos {
	overflow-y: scroll;
	max-width: 40vw;
	max-height: 71vh;
	/* 	border-radius: 3px;
	border-color: black;
	border-style: solid; */
	@apply scroll-smooth snap-proximity snap-y;
}

/* 
<div className="video-result" key={likedVideo.id}>
	<img
		className="video-result-thumbnail"
		src={likedVideo.thumbnail}
		alt={likedVideo.title}
	/>
	<div className="video-result-info">
		<div className="video-result-title">{likedVideo.title}</div>
		<div className="video-result-channel">
			{likedVideo.channel.name}
		</div>
	</div>
</div>
		 */
.video-result {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	/* Use margin over padding when placing the element in relation to another */
	margin: 1rem 0 1rem 0;
	@apply rounded snap-center;
	@apply transition-all duration-300;
}

.video-result:first-child {
	margin-top: unset;
}

.video-result:last-child {
	margin-bottom: unset;
}

/* Change all .video-result children to the same cursor style as a hyperlink */
.video-result > * {
	cursor: pointer;
}

.video-result:hover {
	@apply bg-secondary/[50%] text-white;
	@apply transition-colors duration-300 ease-in-out;
	/* @apply shadow shadow-secondary ; */
}

.video-result-selected {
	@apply bg-secondary text-white !important;
	@apply transition-colors duration-300 ease-in-out;
	/* @apply shadow shadow-secondary ; */
}

.video-result-thumbnail-container {
	position: relative;
}

.video-result-thumbnail {
	/* https://calculateaspectratio.com/16-9-calculator */
	min-width: 360px;
	min-height: 203px;
	width: 360px;
	height: 203px;
	/* Corner-cut https://css-generators.com/custom-corners/ */
	--mask: radial-gradient(2.5rem at 100% 100%, rgba(0, 0, 0, 0) 66%, rgb(0, 0, 0)) 100% 100%/100% 100% no-repeat;
	-webkit-mask: var(--mask);
	mask: var(--mask);
	@apply rounded;
}

.video-result-privacy-status {
	width: 2rem;
	height: auto;
	/* transform: rotate(-45deg); */

	/* Place the image at the bottom right of the corner of the previous element */
	position: relative;
	bottom: -2px;
	right: -4px;
}

/* Need to do this to fix tool-tip alignment */
.video-result-privacy-status:after {
	position: absolute;
}

.video-result-privacy-status-tooltip {
	position: absolute;
	bottom: 0;
	right: 0;
}

.video-result-info {
	margin-left: 20px;
	text-align: left;
}

.video-result-title {
	font-size: 1.2em;
	font-weight: bold;
}

button#toggleFilter--enabled {
	background-color: #4caf50;
	color: white;
}

button#toggleFilter--disabled {
	all: revert;
}

.unlisted-button-enabled {
	transition-property: color, opacity;
	transition: 0.3s ease;
}

.unlisted-button-disabled {
	color: theme("colors.neutral-content");
	opacity: 30%;
	transition-property: color, opacity;
	transition: 0.3s ease;
}

.unlisted-button-enabled:hover,
.unlisted-button-disabled:hover {
	background-color: unset;
}

@media (max-width: 1440px) {
	.videos {
		max-width: 60vw;
		/* max-height: 66vh; */
	}
}

@media (max-width: 1280px) {
	.videos {
		max-width: 60vw;
		/* max-height: 74vh; */
	}
}

@layer base {
	h1 {
		@apply text-xl font-roboto;
	}

	h3 {
		@apply text-xl font-roboto font-[100];
	}
}
